doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul
      each val, index in links
        li
          a(href=val.link)= val.title

    block jscripts